<%- include('./partials/head.ejs') %> 
<body>
  <%- include('./partials/navbar.ejs') %> 
  <div class="form">
    <h2>Are you Ready to be an Admin?</h2>
    <img src="/images/V-2png" alt="">
    <div class="errors">
      <% if (error) {%>
      <p><%= error %></p>
      <% } %>
    </div>
    <form action="Admin" method="POST">
      <label for="passcode">Passcode:</label>
      <input type="password" for="passcode" name="passcode">
      <button type="submit">Submit</button>
    </form>
  </div>
  <%- include('./partials/footer.ejs') %> 
</body>
</html>