<%- include('./partials/head.ejs') %>
<body>    
  <%- include('./partials/navbar.ejs') %> 
  <div class="error-page">
    <h2>0ops..</h2>
    <img src="/images/V-2.png" alt="">
    <h3>I couldn't find this page</h3>
    <a href="/">Go to the Home</a>
  </div>
</body> 